/* All Pages - General Formatting */
*{
    font-family: "Lato", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #000;
}

h2{
    font-size: 40px;
    line-height: 54px;
    color: #000;
}

h4{
    font-size: 20px;
    color: #000;
}

h6{
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: #000;
    margin: 15px, 0, 15px, 0;
}

#title{
  padding-top: 100px;
  padding-bottom: 32px;
  text-align: center;
}

#non-title-space{
  padding-top: 50px;
  padding-bottom: 16px;
}

#section-header{
padding: 5px 16px;
text-align: center;
}

/* Navbar - All Pages */
header{
    padding: 0 20px;
    background-color: #80bfff;
    height: 50px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}

#navbar {
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
    overflow: hidden
  }
  
  ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
  }
  
  ul a.active{
    font-size: 20px;
  }

  ul a {
    color: #000;
    text-decoration: none;
  }
  
  ul li {
    padding: 5px;
    margin-left: 10px;
  }
  
  ul li:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }
  
  #hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
  }
  
  #hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .open .bar2 {
    opacity: 0;
  }
  
  .open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
  }
  
  .open .mobile-menu {
    display: flex;
    max-height: 230px;
    max-width: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #cce6ff;
  }
  
  .mobile-menu {
   display: none;
    position: absolute;
    top: 50px;
    right: 0;
    left: auto;
    height: calc(100vh - 50px);
    width: 100%;
  }
  
  .mobile-menu li {
    margin-bottom: 10px;
  }
  
  @media only screen and (max-width: 600px) {
    header nav {
      display: none;
    }
  
    #hamburger-icon {
      display: block;
    }
  }

  /* Home Page - index.html */
  #feat-product{
    margin: 0 20px 5px 20px;
    padding: 10px;
    background-color: #e6f3ff;
    border-radius: 20px;
  }
  
  #feat-product .product{
    margin: 20px;
    width: 23%;
    min-width: 250px;
    max-width: 350px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    cursor: pointer;
  }
  
  #feat-product .product:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
    transition: .3s;
  }

  #feat-product .product img{
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
  }
  
  #feat-product .product .description{
    text-align: start;
  }
  
  #feat-product .product .description h5{
    padding-top: 8px;
    color: #404040;
  }
  
  #feat-product .product .description h4{
    padding-top: 8px;
    color: #009933;
  }
  
  #feat-product .product-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  /* About Page - about.html */


  /* Shop Filter */

  #page-sort{
    display: flex;
    position: relative;
  }
  
  #page-sort select{
    display: block;
    margin: 0 auto;
    align-content: center;
    padding: 5px 5px;
    margin-bottom: 20px;
    font-weight: 400;
    border: none;
    background-color:  none;
    font-size: 18px;
  
  }
  
  #page-sort select .all{
    font-size: 18px;
    font-weight: 500;
    text-align: left
  }
  
  #page-sort select .gender{
    font-size: 16px;
    font-weight: 500;
    text-align: left;
  }
  
  #page-sort select .sub-section{
    font-size: 14px;
    font-weight: 300;
    text-align: center;
  }

  /* Shop Page - shop.html */
#shop{
  margin: 0 20px 5px 20px;
  padding: 10px;
}

#shop .product{
  margin: 20px;
  width: 23%;
  min-width: 250px;
  max-width: 350px;
  padding: 10px;
  background-color: #e6f3ff;
  border-radius: 10px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  cursor: pointer;
}

#shop .product img{
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
}

#shop .product:hover{
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
  transition: .3s;
}

#shop .product .description{
  text-align: start;
}

#shop .product .description h5{
  padding-top: 8px;
  color: #404040;
}

#shop .product .description h4{
  padding-top: 8px;
  color: #009933;
}

#shop .product-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Single Product Details */

#pathway{
  padding: 5px 40px;
}

#pathway a{
  color: #808080;
  text-decoration: none;
}

#pathway a:hover{
  color: #404040;
  transform: scale(1.1);
  transition: 0.3s;
}

#product-details{
  display: flex;
  margin: 20px 40px 0 30px;
}

.sing-product-img{
  width: 40%;
  display: flex;
}


#product-details .sing-product-deets{
  width: 60%;
  margin: 0 30px;
  padding-left: 30px;
}

#product-details .sing-product-deets h4{
  padding: 40px 0 5px 0;
}

#product-details .sing-product-deets h3{
  padding-top: 5px;
  padding-bottom: 10px;
  color: #009933;
}

#product-details .sing-product-deets select{
  display: block;
  padding: 5px 5px;
  margin-bottom: 20px;
  font-weight: 400;
}

#product-details .sing-product-deets input{
  width: 45px;
  height: 40px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px; 
}

#product-details .sing-product-deets input:focus{
  outline: none;
}

#product-details .sing-product-deets button{
  background-color: #e6f3ff;
  color: #404040;
  border-radius: 5px;
  border: none;
  padding: 10px;
}

#product-details .sing-product-deets button:hover{
  background-color: #cce6ff;
  color: #000;
}

#product-details .sing-product-deets span{
  line-height: 5px;
  margin-bottom: 10px;
  padding: 5px 0 10px 0;
}

  /* Cart - cart.html */
  .cart{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
  }

  .cart th{
    width: 100px;
  }

  .cart img{
    width: 150px;
  }

  .cart td{
    text-align: center;
    padding: 15px 30px;
  }

  .cart input{
    width: 45px;
    height: 40px;
    font-size: 16px;
  }

  .cart button{
    padding: 4px;
    border-radius: 2px;
    border: none;
    background-color: #d3d3d3;
  }

  .cart button:hover{
    background-color:#ff4d4d;
    padding: 4px;
    border-radius: 2px;
  }

  .total{
    margin-left: 65%;
    margin-right: 45%;
  }

  .total td{
    padding: 15px;
  }

  .checkout{
    margin-left: 65%;
    margin-right: 45%;
    margin-bottom: 20px;
  }

  .checkout button{
    background-color: #e6f3ff;
    color: #404040;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 16px;
    font-weight: 700;
  }

  .checkout button:hover{
    background-color: #00e64d;
    color: #000;
  }

  /* Login & Create Account - login.html */
  .login_box{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: #ffffff;
  }

  .container {
    width: 400px;
    max-width: 400px;
    margin: 16px;
    padding: 32px;
    background: #ffffff;
}

.form--hidden {
    display: none;
}

.form > *:first-child {
    margin-top: 0;
}

.form > *:last-child {
    margin-bottom: 0;
}

.form__title {
    margin-bottom: 32px;
    text-align: center;
}

.form__message {
    text-align: center;
    margin-bottom: 16px;
}

.form__message--success {
    color: #49ae42;
}

.form__message--error {
    color: #cc3333;
}

.form__input-group {
    margin-bottom: 16px;
}

.form__input {
    display: block;
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border-width: 0 0 2px;
    border-color: #80bfff;
    outline: none;
}

.form__input:focus {
    border-color: #4d8ccc;
    background: #ffffff;
    outline: none;
}

.form__input--error {
    color: #cc3333;
    outline: none;
    border-color: #cc3333;
}

.form__input-error-message {
    margin-top: 8px;
    font-size: 10px;
    color: #cc3333;
}

.form__button {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    background: #80bfff;
}

.form__button:hover {
    background: #4d8ccc;
}

.form__button:active {
    transform: scale(0.98);
}

.form__text {
    padding: 8px;
    text-align: center;
}

.form__link {
    padding: 5px;
    color: #0645AD;
    text-decoration: none;
    cursor: pointer;
}

.form__link:hover {
    text-decoration: underline;
}

/* Profile - profile.html */
.profile-pic{
  width: 10%;
  margin-left: 5%;
  display: flex;
  overflow: hidden;
  float: left;
}

.profile-pic i{
  font-size: 70px;
  background-color: #cce6ff;
  border-radius: 10px;
  padding: 8px;
}

.user-info{
  width: 80%;
  margin-right: 5%;
  overflow: hidden;
}

.past-orders{
  width: 90%;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #cce6ff;
  border-radius: 20px;
}

.past-orders h4{
  padding: 12px 25px;
}

.past-orders table{
  margin-left: auto;
  margin-right: auto;
}

.past-orders td{
  padding: 30px;
}

.past-orders img{
  width: 150px;
}
