
/*Slide from the left textboxes with no background from the music page*/
/*each with it's own delay*/

@keyframes slidein{
	0% { opacity:0; left:-32px; }
	100% { opacity:1; left:0px; }
}

.slide1{
	position: relative;
	animation-name: slidein;
	animation-duration:0.4s;
}
.slide2{
	position: relative;
	animation-name: slidein;
	animation-duration:0.6s;
}
.slide3{
	position: relative;
	animation-name: slidein;
	animation-duration:0.8s;
}
.slide4{
	position: relative;
	animation-name: slidein;
	animation-duration:1s;
}
.slide5{
	position: relative;
	animation-name: slidein;
	animation-duration:1.2s;
}

/*pink links*/

a.pink:link { color: #ff3399; background-color: transparent; text-decoration: none; }
a.pink:visited { color: #ff3399; background-color: transparent; text-decoration: none; }
a.pink:hover { color: red; background-color: transparent; text-decoration: underline; }
a.pink:active { color: yellow; background-color: transparent; text-decoration: underline; }

/*white links*/

a.white:link { color: #fff; background-color: transparent; text-decoration: none; }
a.white:visited {color: #fff; background-color: transparent; text-decoration: none; }
a.white:hover { color: #fff; background-color: transparent; text-decoration: underline; }
a.white:active {color: fff; background-color: transparent; text-decoration: underline; }

/*slide up (float) content boxes with a background that covers the page width from the games page*/
/*all timed the same, except for the title one*/

@keyframes floatin{
	0% { opacity:0; bottom:-32px; }
	100% { opacity:1; bottom:0px; }
}

div.float1{
	background: #00000055;
	background-opacity:0.5;
	position: relative;
	animation-name: floatin;
	animation-duration:0.4s;
	transition: background 0.2s;
}

#containerleft {
	padding-top: 10px;
	float: left;
	width: 25%;
	margin-right: 1%;
	margin-left: 22%;
	text-align:center;
}
#containerright {
	padding-top: 10px;
	float: right;
	width: 25%;
	margin-right: 22%;
	margin-left: 1%;
	text-align:center;
}

div.floatleft{
	float: left;
	background: #00000055;
	background-opacity:0.5;
	position: relative;
	animation-name: floatin;
	animation-duration:0.4s;
	transition: background 0.2s;
}
div.floatright{
	float: right;
	background: #00000055;
	background-opacity:0.5;
	position: relative;
	animation-name: floatin;
	animation-duration:0.4s;
	transition: background 0.2s;
}
div.float1:hover{
	background: #9297;
}