
/*General font for the body*/

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body {
	font-family: 'Montserrat', sans-serif;
	color: white;
}

/*
Mantain div's state after animating
*/

div{
	animation-fill-mode: forwards;
}

/* generic fadein */
@keyframes fadein{
	0% { opacity:0; }
	100% { opacity:1; }
}

/*Slide from the left textboxes with no background from the music page*/
/*each with it's own delay*/

@keyframes slidein{
	0% { opacity:0; left:-32px; }
	100% { opacity:1; left:0px; }
}

.slide1{
	position: relative;
	background: #0000;
	animation-name: slidein;
	animation-duration:0.4s;
	transition: background-color 0.3s;
}
.slide1:hover{
	background: #000a;
}

/*pink links*/

a.pink:link { color: #ff3399; background-color: transparent; text-decoration: none; }
a.pink:visited { color: #ff3399; background-color: transparent; text-decoration: none; }
a.pink:hover { color: red; background-color: transparent; text-decoration: underline; }
a.pink:active { color: #0df; background-color: transparent; text-decoration: underline; }

/*white links*/

a.white:link { color: #fff; background-color: transparent; text-decoration: none; }
a.white:visited {color: #fff; background-color: transparent; text-decoration: none; }
a.white:hover { color: #fff; background-color: transparent; text-decoration: underline; }
a.white:active {color: fff; background-color: transparent; text-decoration: underline; }

/*slide up (float) content boxes with a background that covers the page width from the games page*/
/*all timed the same, except for the title one*/

@keyframes floatin{
	0% { opacity:0; bottom:-32px; }
	100% { opacity:1; bottom:0px; }
}

#collection {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

div.float1{
	background: #00000055;
	position: relative;
	animation-name: floatin;
	animation-duration:0.4s;
	transition: background 0.2s;
}
div.float1:hover{
	background: #9297;
}
div.floatheader{
	background: #00000055;
	position: relative;
	animation-name: floatin;
	animation-duration:0.4s;
	height: 48px;
	line-height: 48px;
	vertical-align: middle;
	transition: background 0.2s;
}
div.floatheader:hover{
	background: #9297;
}

#bgvideo video {
  width:100%;
  height:100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
}

#gamecontainer {
	box-sizing: border-box;
	float: left;
	width: 50%;
	text-align:center;
	padding:16px;
}

#gamecontainer i{
	color: #bbb
}
#gamecontainer img{
	width: 50%;
	height: auto;
}
#quartercontainer{width:24.9%; padding-top:8px;}
#quartercontainer img{width:50%; height:auto;}
@media only screen and (max-width: 520px) {
	#gamecontainer {
		box-sizing: border-box;
		width: 100%;
		text-align:center;
		padding-top:10px;
	}
	#gamecontainer img{
		width: 75%;
		height: auto;
	}
	#quartercontainer{width:49%;}
	#quartercontainer img{width:75%; height:auto;}
}

#containerleft {
	box-sizing: border-box;
	float: left;
	width: 49%;
	text-align:center;
	padding-top:10px;
}
#containerright {
	box-sizing: border-box;
	float: right;
	width: 49%;
	text-align:center;
	padding-top:10px;
}

div.floatleft{
	float: left;
	background: #00000055;
	background-opacity:0.5;
	position: relative;
	animation-name: floatin;
	animation-duration:0.4s;
	transition: background 0.2s;
}
div.floatright{
	float: right;
	background: #00000055;
	background-opacity:0.5;
	position: relative;
	animation-name: floatin;
	animation-duration:0.4s;
	transition: background 0.2s;
}